@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: arial, sans-serif;
  font-size: 100%;
  background: rgb(20, 25, 19);
  color: rgba(255, 255, 255, .66);
}

h1, h2 {
  font-family: 'Varela Round', sans-serif;
  color: rgba(255, 255, 255, .75);
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  font-size: 1rem;
}

header, section, footer {
  width: 50rem;
  margin: 0 auto;
}

header {
  margin: 4rem auto;
}

h1 {
  font-size: 3rem;
  margin: 1em 0;
}

h2 {
  font-size: 2rem;
  margin: 1em 0;
}

section {
  margin-bottom: 4rem;
}

pre {
  font-size: 1.25rem;
  padding: 0.5em;
}

p, pre, ul, .panel {
  margin-top: 1.5rem;
}

.panel {
  border: 1px solid;
  padding: 1em;
  border-radius: 1em;
}

.panel *:first-child {
  margin-top: 0;
}

.panel *:last-child {
  margin-bottom: 0;
}

.snapshot {
  border-color: rgba(249, 38, 114, .3);
  background: rgba(249, 38, 114, .2);
}

.experiments {
  border-color: rgba(230, 219, 116, .3);
  background: rgba(230, 219, 116, .2);
}

.references {
  border-color: rgba(174, 129, 255, .3);
  background: rgba(174, 129, 255, .2);
}
